* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 15px/1.5 'Poppins', sans-serif;
}

:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--dark-gray: hsl(234, 12%, 34%);
	--gray: hsl(229, 6%, 66%);
	--light-gray: hsl(0, 0%, 98%);
}

h1, h2 {
	color: var(--dark-gray);
}

p {
	color: var(--gray);
}

.container {
	width: 90%;
	margin: auto;
}


/* ============
	header
=========== */

.thin {
	font-weight: 200;
}

header p {
	margin-top: 1em;
}